/*---- RESET STYLE ----*/
body, h1, h2, h3, h4, p {margin: 0;padding: 0; line-height: 1;}
h1, h2, h3, h4 {font-weight: normal;}
ul {list-style:none; margin:0; padding: 0;}
ol {margin:0; padding: 0;}
body { -webkit-touch-callout: none !important;}

/*---- UTILITY STYLES ----*/
br {line-height: 1;}
sup, sub {font-size: 50% !important; line-height: 0;}
.symbol {font-family: sans-serif !important; line-height: 0;}
.clear {clear: both;}
.hide {display: none;}

/*-- LAYOUT --*/
#container { width: 1024px; height: 738px; }

/* Header Area */
/* tab buttons */
#tabheaders { width: 100%; padding: 10px 30px; background-color: #fff }
#tab-btns { height: 30px }
#tab-btns li { position: relative; float: left; padding-right: 10px; top: 50%; transform: translateY(-50%) }

/* Content Area */
#panel_1, #panel_2 {width: 1024px; height: 617px; background-color: #f1f2f2;}
#rt1 {position: relative; width: 1024px; }
.revolving-tab {padding-top: 0; width: 1024px; height: 85px; overflow: hidden;  background-color: #fff; border-top: 1px solid #838f98; -webkit-transition: height 0.25s;}
.revolving-tab.active { background-color: transparent; height: 444px;}
.revolving-tab h2.notCurrent {position: relative; top: 50%; transform: translateY(-50%); margin-top: 0;}
.revolving-tab.active .isCurrent {padding-top: 40px;}
/* left rail area */
.left-rail-content {display: inline-block; margin-left: 25px; width: 628px; height: 400px;}
.left-rail-content {height: 85px;}
.content-wrap {padding: 15px; width: 550px;}

/* right rail area */
.right-rail-content { display: inline-block; float:right; padding-top: 5px; width: 370px; padding-bottom: 20px; }
/*.right-rail-content {display: none;}*/
.revolving-tab.active .right-rail-content {display: inline-block; margin-top: -73px;}
/*.active .right-rail-content {margin-top: -50px;}*/
.right-rail-content .box-warning-hdr {margin-left: 10px;}
.right-rail-content .no-box .box-warning-hdr {margin-left: 0;}
.right-rail-content .safety-considerations-list { margin: 15px 0 0 15px; }
.right-rail-content .safety-considerations-list li {margin-bottom: 0;}
.right-rail-content .safety-considerations-list.multiple-items li {margin-bottom: 5px;}
.right-rail-content .safety-considerations-list.multiple-items li:last-child {margin-bottom: 0;}
.right-rail-content .boxed-warning { margin-top: 5px; padding: 5px; width: 315px; border:1px solid; box-sizing:border-box;}
/*-- //LAYOUT --*/


/*-- TYPOGRAPHY --*/
body {font-family:'AvenirNext-Regular'; line-height: 1.3; color:#445765; -webkit-font-smoothing: antialiased;}

/* Header Area */
/* tab buttons */
#tab-btns li {font-family: 'AvenirNext-Medium'; text-transform: uppercase;}
#tab-btns li.active {font-family: 'AvenirNext-DemiBold'; color:#ec6851;}


/* left rail area */
.revolving-tab h2 {margin-left: 25px; padding: 20px 0; width: 100%; /*font-family:'AvenirNext-Regular';*/ line-height: 1; /*background-color: rgba(255,0,0,0.5);*/}
.revolving-tab.active h2 {width: 600px;}
.content-wrap p {line-height: 1.3;}

/* right rail area */
.right-rail-content .box-warning-hdr { font-family: 'AvenirNext-DemiBold'; font-size: 17px; color:#445664; text-transform: uppercase; }
.boxed-warning-instructions {font-family: 'AvenirNext-DemiBold'; margin: 20px 0 0 0; line-height: 1.2;}
.boxed-warning-references {margin-top: 15px; margin-left: 0;font-size: 12px;}
.instruction { font-weight: 700; }
.intro { margin-top: 15px; margin-left: 0; font-size: 14px;}
.callout {margin-top: 10px; font-size: 12px; }
.boxed-warning { font-family: 'AvenirNext-DemiBold'; font-size: 14px; line-height: 1.2;}
.safety-considerations-list li { list-style-type: disc; margin: 0 0 0 0; text-indent: 0; font-family: 'AvenirNext-Regular'; font-size: 14px; }
/*-- //TYPOGRAPHY --*/

/*-- ANIMATION --*/
.revolving-tab { }
.revolving-tab.active { -webkit-transition: height 0.25s;}
.animate { -webkit-transition: all 0.5s; -webkit-transform: scale(1); -webkit-backface-visibility: hidden; opacity: 1; }
.initialize { -webkit-transition: none; /*-webkit-transform: scaleY(0);*/ -webkit-backface-visibility: hidden; height: 0; opacity: 0; }

.an200  {font-family: 'AvenirNext-UltraLight'; font-weight: normal; font-style: normal;}
/*.an400  {font-family: 'AvenirNext-Regular'; font-weight: normal; font-style: normal;}
.an500  {font-family: 'AvenirNext-Medium'; font-weight: normal; font-style: normal;}
.an600  {font-family: 'AvenirNext-DemiBold'; font-weight: normal; font-style: normal;}
.an700  {font-family: 'AvenirNext-Bold'; font-weight: normal; font-style: normal;}
.an400i {font-family: 'AvenirNext-Italic'; font-weight: normal; font-style: normal;}
.an700i {font-family: 'AvenirNext-BoldItalic'; font-weight: normal; font-style: normal;}*/

